@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
h1,
h2,
h3 {
  line-height: 1.1;
}
/* ---------------------- scrollbar ---------------------- */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--clr-mainBg);
}

::-webkit-scrollbar-thumb {
  background: var(--clr-cardBg);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--clr-accent);
}
/* general -------------------------------------- */
:root {
  --clr-mainBg: hsl(233, 47%, 7%);
  --clr-cardBg: hsl(244, 38%, 16%);
  --clr-accent: hsl(277, 64%, 61%);

  --clr-mainHeading-stats: hsl(0, 0%, 100%);
  --clr-mainParagraph: hsla(0, 0%, 100%, 0.75);
  --clr-statHeadings: hsla(0, 0%, 100%, 0.6);

  --font-inter: "Inter", sans-serif; /* 400,700 */
  --font-lexend: "Lexend Deca", sans-serif; /* 400 */
  --font-size-base: 0.9375rem;
}
ul {
  list-style-type: none;
}
h2,
p,
ul {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  font-weight: 400;
  background-color: var(--clr-mainBg);
}

main {
  padding-block: 5.5rem;
}
/* component */
.component {
  background-color: var(--clr-cardBg);
  color: var(--clr-mainHeading-stats);
  text-align: center;
  width: 87%;
  max-width: 650px;
  margin: 0 auto;
  border-radius: 0.5rem;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  main {
    display: flex;
    align-items: center;
    min-height: 106vh;
  }
  .component {
    text-align: left;
    max-width: 1108px;
    margin: 0 auto;
  }
  .container {
    display: grid;
    grid-template-columns: 1.06fr 1fr;
  }
}
/* component_stats */
.component_stats {
  order: 2;
  padding-block: 2.5rem 2.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 992px) {
  .component_stats {
    order: 1;
    align-items: flex-start;
    padding: 4.4rem 4.5rem 3.8rem;
    justify-content: space-between;
  }
}
.component_stats .title {
  font-size: 1.75rem;
  font-size: clamp(1.75rem, 1vw + 1.5rem, 2.242rem);
  width: 85%;
  line-height: 1.13;
  margin-bottom: 1.05rem;
}
@media screen and (min-width: 992px) {
  .component_stats .title {
    font-size: 2.242rem;
    font-size: clamp(2rem, 1vw + 1.5rem, 2.242rem);
    width: 95%;
    line-height: 1.25;
    margin-bottom: 1.46rem;
  }
}
.title::first-letter {
  text-transform: uppercase;
}
.title span {
  color: var(--clr-accent);
}
.component_stats .subtitle {
  color: var(--clr-statHeadings);
  width: 80%;
  line-height: 1.66;
  margin-bottom: 2.2rem;
  font-size: 0.94rem;
}
@media screen and (min-width: 992px) {
  .component_stats .subtitle {
    width: 85%;
    line-height: 1.67;
    margin-bottom: 4.2rem;
  }
}
.subtitle::first-letter {
  text-transform: uppercase;
}
.component_stats .stats {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media screen and (min-width: 992px) {
  .component_stats .stats {
    flex-direction: row;
    width: 82%;
    justify-content: space-between;
  }
}
.component_stats .stats .num {
  font-size: 1.48rem;
  font-weight: 700;
  padding-bottom: 0.163rem;
}

.component_stats .stats .name {
  color: var(--clr-statHeadings);
  text-transform: uppercase;
  font-size: 0.77rem;
  letter-spacing: 0.05rem;
  font-family: var(--font-lexend);
}
.component_img {
  order: 1;
  position: relative;
  overflow: hidden;
}
.component_img picture {
  width: 100%;
  height: 100%;
}
.component_img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media screen and (min-width: 992px) {
  .component_img {
    order: 2;
  }
}
.component_img::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(162, 0, 255, 0.6);
  filter: brightness(50%) contrast(95%);
  top: 0;
  left: 0;
}
